.hero{
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/images/newcover.gif'); background-size: cover; background-position: center; color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
max-width: 1024px;
}


.hero-text{
    text-align: center;
    max-width: 800px;
    line-height: 4rem;
}
.hero-text h1{
  max-width: 800px;
  margin: 0 auto;
  line-height: 1;
  font-size: 40px;
}
.hero-text p {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 2rem 2rem;
}